<h1>Flights Index Page</h1>

<div class="all-flights">
  <ul>
    <% @flights.each do |flight| %>
    <li> <%= flight.number %> <%= flight.airline.name %>
         <p><% flight.passengers.each do |p| %> <%= p.name %>---<% end %></p>
     </li>
    <% end %>
  </ul>
</div>
