<h1>Flights Index Page</h1>

<div class="all-flights">
  <ul>
    <% @flights.each do |flight| %>
    <li> <%= flight.number %> <%= flight.airline.name %><br>
         <%=  %>
     </li>
    <% end %>
  </ul>
</div>
