<h1>Airlines Show Page</h1>

<h2><%= @airline.name %></h2>

<div class="passengers">
  <ul>
    <% @airline.passengers.distinct.each do |passenger| %>
    <li><%= passenger.name %></li>
    <% end %>
  </ul>

</div>
